.head {
  display: flex;
  padding-top: 124px;
  margin-bottom: 101px;

  @media (max-width: 767px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 55px;
    margin-bottom: 50px;
  }
}

.headImg {
  margin: 6px 60px 0 0;

  @media (max-width: 767px) {
    margin: 0 0 30px 0;
    max-width: 300px;
    width: 100%;
  }
}

.headTitle {
  color: #E3051B;
  font-family: 'RussianRail G Pro';
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 37px;

  @media (max-width: 530px) {
    font-size: 33px;
  }
}

.headDescription {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  max-width: 928px;
  width: 100%;

  & span {
    color: #E3051B;
    font-weight: 700;
  }
}

.formItem {
  border-radius: 20px;
  background: #F5F5F5;
  padding: 37px 40px 42px;
  margin-bottom: 60px;

  @media (max-width: 530px) {
    padding: 37px 20px 32px;
    margin-bottom: 30px;
  }
}

.formTitle {
  color: #000;
  font-family: 'RussianRail G Pro';
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 44px;

  @media (max-width: 530px) {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.formCommentText {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin: 14px 0 19px;

  @media (max-width: 530px) {
    font-size: 16px;
  }
}

.list {
  display: flex;
}

.button {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  background: #E3051B;
  padding: 32px 52px;
  color: #FFF;
  font-family: 'RussianRail G Pro';
  font-size: 32px;
  font-weight: 700;
  border: none;
  outline: none;
  transition: 0.1s linear;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 530px) {
    padding: 20px 42px;
    font-size: 20px;
  }
}

.footerTitle {
  color: #E3051B;
  font-size: 40px;
  margin-bottom: 25px;

  @media (max-width: 530px) {
    font-size: 25px;
  }
}

.finish {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100px;
  height: 100px;
  border: 6px dashed #E3051B;
  border-radius: 50%;
  animation: spin 4s infinite linear;
  transition: 0.1s linear;
}

.loaderVisible {
  opacity: 1;
}

.loaderHidden {
  opacity: 0;
}

.successMessage {
  transition: opacity 0.3s;
  color: green;
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 767px) {
    font-size: 25px;
  }
}

.successMessageVisible {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}