@import url(fonts/fonts.css);
@import url(./vendor/normalize.css);

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow-x: hidden;
}

#root {
    background-color: #FFFFFF;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.error {
    color: red;
}
